/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }
  
  html, 
  body {
    background-color: #f3f3f3;
  }

  h1 {
    max-width: 100%;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.1;
    margin: 20px 0;
    text-align: center;
  }